/*===vars===*/
$xs: 0px;
$sm: 375px;
$md: 900px;
$lg: 1200px;
$xl: 1440px;

$main-color: #ffffff;

$primary-color: #08D899;
$primary-light-color: #B2F1DE;
$secondary-color: #CDD2DD;

$text-white: #ffffff;
$text-main: #B2F1DE;
$text-secondary: #676767;

/*===mixins===*/
@mixin img-fit{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin container{
  margin: 0px 20px;

  @media screen and (min-width: $md) {
    //max-width: Calc(#{$xl} - (70px*2));
    margin: 0px 70px;
  }
}

/*shared classes*/
*{
  box-sizing: border-box;
}

.container{
  @include container;
}

:export {
    xs: $xs;
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;
}




@keyframes figure1 {
  0%{
    transform: translate(50%, 50%) rotate(50deg);
  }
  25%{
    transform: translate(75%, 25%) rotate(150deg);
  }
  50%{
    transform: translate(150%, 25%) rotate(50deg);
  }
  75%{
    transform: translate(75%, 0%) rotate(150deg);
  }
  100%{
    transform: translate(50%, 50%) rotate(50deg);
  }
}

@keyframes figure2 {
  0%{
    transform: translate(0%, 0%) rotate(10deg);
  }
  25%{
    transform: translate(20%, -20%) rotate(60deg);
  }
  50%{
    transform: translate(50%, -50%) rotate(180deg);
  }
  75%{
    transform: translate(20%, -20%) rotate(60deg);
  }
  100%{
    transform: translate(0%, 0%) rotate(10deg);
  }
}

@keyframes figure4 {
  0%{
    transform: translate(0%, 0%) rotate(50deg);
  }
  20%{
    transform: translate(175%, -75%) rotate(30deg);
  }
  80%{
    transform: translate(175%, 75%) rotate(30deg);
  }
  100%{
    transform: translate(0%, 0%) rotate(50deg);
  }
  
}

@keyframes updown {
  to { transform: translateY(200); }
}

.figure {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  animation: updown 60s infinite ease-in-out alternate;
  filter: blur(50px);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  overflow:hidden;

  div {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background: $primary-color;
    transform-origin: center 300%;
    animation: circle 20s infinite ease-out;
  }

  & > div:nth-child(1){
    width: 300px;
    height: 250px;
    transform: translate(50%, 50%) rotate(50deg);
    transform-origin: center -50%;
    animation: figure1 25s infinite ease-out reverse;
  }

  & > div:nth-child(2){
    width: 350px;
    height: 200px;
    transform: translate(0%, 0%) rotate(10deg);
    transform-origin: center -50%;
    animation: figure2 15s infinite ease-out;
  }

  & > div:nth-child(3){
    width: 450px;
    height: 300px;
    transform: translate(0%, 0%) rotate(10deg);
    transform-origin: -20% center;
    animation: figure2 15s infinite ease-out;
  }

  & > div:nth-child(4){
    width: 150px;
    height: 200px;
    transform: translate(50%, 50%) rotate(50deg);
    transform-origin: -20% center;
    animation: figure4 15s infinite ease-out;
  }



}
